<navbar title="{{ league?.name }}"></navbar>

<div class="sidebar btn-group-vertical">
    <a [routerLink]="['details']" [routerLinkActive]="['btn-primary']" class="btn btn-default">League</a>
    <a [routerLink]="['teams']" [routerLinkActive]="['btn-primary']" class="btn btn-default" aria-label="Teams">Teams</a>
    <a [routerLink]="['fixtures']" [routerLinkActive]="['btn-primary']" class="btn btn-default" aria-label="Fixtures">Fixtures</a>
</div>

<div style="margin-left:150px; padding-left: 16px">
    <router-outlet></router-outlet>
</div>
