<style>
.sidebar {
    margin: 0;
    padding: 0;
    width: 150px;
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
}
</style>

<navbar title="{{ league?.name }}"></navbar>

<div class="sidebar btn-group-vertical">
    <button type="button" class="btn btn-default" [routerLink]="['./']" [routerLinkActive]="['btn-primary']">Details</button>
    <button type="button" class="btn btn-default" [routerLink]="['./teams']" [routerLinkActive]="['btn-primary']">Teams</button>
    <button type="button" class="btn btn-default" [routerLink]="['./fixtures']" [routerLinkActive]="['btn-primary']">Fixtures</button>    
</div>

<div style="margin-left:150px; padding-left: 16px">
    <router-outlet></router-outlet>
</div>
