<form [formGroup]="leagueForm" novalidate (ngSubmit)="updateLeague(leagueForm.value)">
    <div class="row">
        <div class="col-xs-6">
            <h2>League Details</h2>
        </div>
        <div class="col-xs-6 heading-row">

            <popover-content #deleteLeaguePopover title="Delete League" [closeOnClickOutside]="true">
                <div class="alert alert-danger" role="alert" style="min-width:250px">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Delete League</span> Permanently delete league {{league?.name}}?
                </div>
                <div class="pull-right form-footer">
                    <button class="btn btn-default horiz-sep" type="button" (click)="deleteLeaguePopover.hide()">
                        Cancel
                    </button>
                    <button-popover #deleteLeagueButton type="button" (click)="onDeleteLeague()">
                        Delete League
                    </button-popover>
                </div>
            </popover-content>

            <div class="pull-right">
                <button *ngIf="!editing" class="btn btn-primary horiz-sep vert-sep pull-right" (click)="onEditLeague()" type="button">Edit League</button>
                <button *ngIf="!editing" class="btn btn-default horiz-sep vert-sep pull-right" type="button" [popover]="deleteLeaguePopover" popoverPlacement="bottom">Delete League</button>
                <button-popover #saveChangesButton *ngIf="editing" btn-class="btn btn-primary horiz-sep vert-sep pull-right" type="submit" [disabled]="!leagueForm.valid">Save Changes</button-popover>
                <button *ngIf="editing" class="btn btn-default horiz-sep vert-sep pull-right" type="button" (click)="onRevert()">Revert</button>
            </div>
        </div>
    </div>
    <table class="table table-striped">
        <colgroup>
            <col style="width:10px">
            <col style="width:60px">
            <col>
        </colgroup>
        <tbody>
            <tr>
                <td></td>
                <td>
                    <div class="form-title"><strong>Name</strong></div>
                </td>
                <td *ngIf="!editing">
                    <div class="form-title-ro">{{ league?.name }}</div>
                </td>
                <td *ngIf="editing">
                    <input type="text" class="form-control" formControlName="name" />
                </td>
            </tr>
        </tbody>
    </table>
</form>