<navbar title="Leagues"></navbar>

<modal #errorModal [keyboard]="false" [backdrop]="'static'">
    <modal-header>
        <h4 class="modal-title">Error initialising the application</h4>
    </modal-header>
    <modal-body>
        {{ lastError?.message }}
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-primary"
            (click)="errorModalOk()">Ok</button>
    </modal-footer>
</modal>

<div class="row">
    <div class="col-xs-1 button-grid">
        <popover-content #createLeaguePopover title="Create League" [closeOnClickOutside]="true">
            <form class="form-s" [formGroup]="leagueForm" novalidate (ngSubmit)="submitAddLeague(leagueForm.value)">
                <div class="form-group">
                    <div class="input-group">
                        <input #newLeagueText type="text" class="form-control" placeholder="League Name..." aria-label="League Name" formControlName="name">
                        <span class="input-group-btn">
                            <button-popover #createLeagueButton type="submit" btn-class="btn btn-default" [disabled]="!leagueForm.valid">
                                <span class="glyphicon glyphicon-ok"></span>
                            </button-popover>
                        </span>
                    </div>
                </div>
            </form>
        </popover-content>
        <button class="btn btn-default vert-sep" aria-label="Create League" [popover]="createLeaguePopover" [popoverCloseOnClickOutside]="true" popoverPlacement="right">
                <span class="glyphicon glyphicon-plus"></span>
        </button>
    </div>

    <div class="col-xs-11">
        <table class="table table-striped table-bordered table-hover">
            <tbody>
                <tr class="selectable" *ngFor="let league of leagues" [attr.aria-label]="league?.name" (click)="navigateToLeague(league)">
                    <td>
                        <league-list-item [league]="league"></league-list-item>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
