<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <table>
                <tr>
                    <td class="logo-container">
                        <img src="images/LogoNavbar.png" />
                    </td>
                    <td>
                        <a class="navbar-brand" href="#">
                            {{title}}
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</nav>
