<popover-content id="createMatchupPopover" #createMatchupPopover [title]="matchupButtonText" [closeOnClickOutside]="true">
    <form id="matchupForm" class="form-l" [formGroup]="matchupForm" novalidate (ngSubmit)="createMatchup(matchupForm.value)">
        <div class="form-group">
            <table>
                <tr>
                    <td>
                        <label id="homeTeam">Home</label>
                        <select class="form-control" formControlName="homeTeam" aria-labelledby="homeTeam">
                            <option *ngFor="let team of homeTeams" [ngValue]="team">
                                {{team.name}}
                            </option>
                        </select>
                    </td>
                    <td class="form-centre">vs</td>
                    <td>
                        <label id="awayTeam">Away</label>
                        <select class="form-control" formControlName="awayTeam" aria-labelledby="awayTeam">
                            <option *ngFor="let team of awayTeams" [ngValue]="team">
                                {{team.name}}
                            </option>
                        </select>
                    </td>
                </tr>
            </table>
        </div>

        <div class="pull-right form-footer">
            <button-popover #createMatchupButton btn-class="btn btn-primary horiz-sep vert-sep pull-right" type="submit" [disabled]="!matchupForm.valid" [btn-aria-label]="matchupButtonText">
                {{matchupButtonText}}
            </button-popover>
            <button-popover *ngIf="editing" #deleteMatchupButton btn-class="btn btn-default horiz-sep vert-sep pull-right" type="button" (click)="deleteMatchup(matchupForm.value)" btn-aria-label="Delete Match-up">
                Delete Match-up
            </button-popover>
        </div>
    </form>
</popover-content>

<h2>Round List</h2>
<div *ngIf="error" class="alert alert-danger" role="alert" style="min-width:250px">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error</span>{{ error?.message }}
</div>
<table class="table table-striped table-min-row" aria-label="Round List Table">
    <colgroup>
        <col style="width:12%">
        <col style="width:19%">
        <col>
        <col class="button-col">
    </colgroup>
    <thead>
        <tr>
            <th class="oversize-header">Round</th>
            <th>Date</th>
            <th colspan="2">Match-ups</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let round of rounds; let last = last" (mouseenter)="openPopover.onMouseEnter()" (mouseleave)="openPopover.onMouseLeave()">
            <td>
                {{round.number}}{{ last ? onAfterFor(): ""}}
            </td>
            <td>
                {{round?.startDate?.isValid() ? round.startDate.format('ll') : ''}}
            </td>
            <td>
                <div class="inner-stack" *ngFor="let config of round.matchConfigsPreLoaded">
                    <button class="btn btn-default trunc matchup-button" data-toggle="popover" data-toggle="tooltip" data-placement="bottom"
                        [attr.data-original-title]="config.homeTeamName" [popover]="createMatchupPopover" popoverPlacement="bottom" (click)="prepareForm(round, config)" [attr.aria-label]="'Edit ' + config.homeTeamName + ' Match-up'">
                        {{config.homeTeamName}}
                    </button>
                    v
                    <button class="btn btn-default trunc matchup-button" data-toggle="popover" data-toggle="tooltip" data-placement="bottom"
                        [attr.data-original-title]="config.awayTeamName" [popover]="createMatchupPopover" popoverPlacement="left-top" (click)="prepareForm(round, config)" [attr.aria-label]="'Edit ' + config.awayTeamName + ' Match-up'">
                        {{config.awayTeamName}}
                    </button>
                </div>
            </td>
            <td>
                <div class="pull-right">
                    <button-hidden #openPopover [popover]="createMatchupPopover" popoverPlacement="left-top" (click)="prepareForm(round)" [attr.aria-label]="'Create Match-up for Round ' + round.number">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button-hidden>
                </div>
            </td>
        </tr>
    </tbody>
</table>
