<popover-content id="createMatchupPopover" #createMatchupPopover title="Create Match-up" [closeOnClickOutside]="true">
    <form id="matchupForm" class="form-s" [formGroup]="matchupForm" novalidate (ngSubmit)="createMatchup(matchupForm.value)">
        <div class="form-group hidden">
            <label for="number">Round number</label>
            <input #roundNumber type="text" class="form-control" id="number" formControlName="number" />
        </div>
        <div class="form-group">
            <table>
                <tr>
                    <td>
                        <label for="homeTeam">Home</label>
                        <select id="homeTeam" class="form-control" formControlName="homeTeam">
                            <option *ngFor="let team of homeTeams" [ngValue]="team">
                                {{team.name}}
                            </option>
                        </select>
                    </td>
                    <td class="form-centre">vs</td>
                    <td>
                        <label for="awayTeam">Away</label>
                        <select id="awayTeam" class="form-control" formControlName="awayTeam">
                            <option *ngFor="let team of awayTeams" [ngValue]="team">
                                {{team.name}}
                            </option>
                        </select>
                    </td>
                </tr>
            </table>
        </div>

        <div class="pull-right">
            <button-popover #createMatchupButton type="submit" [disabled]="!matchupForm.valid">Create Match-up</button-popover>
        </div>
    </form>
</popover-content>

<h2>Round List</h2>
<table class="table table-striped">
    <colgroup>
        <col class="col-xs-1">
        <col class="col-xs-3">
        <col class="col-xs-8">
    </colgroup>
    <thead>
        <tr>
            <th>Round</th>
            <th>Date</th>
            <th>Match-ups</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let round of rounds">
            <td>
                {{round.number}}
            </td>
            <td>
                {{round.startDate | date}}
            </td>
            <td>
                <div class="pull-right">
                    <button class="btn btn-default" [popover]="createMatchupPopover" popoverPlacement="left-top" (click)="matchupForm.controls['number'].updateValue(round.number)">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
                </div>
            </td>
        </tr>
    </tbody>
</table>
