<form [formGroup]="teamForm" novalidate (ngSubmit)="updateTeam(teamForm.value)" aria-label="Edit Team Form">
    <div class="row">
        <div class="col-xs-6">
            <h2>Team Details</h2>
        </div>
        <div class="col-xs-6 heading-row">

            <popover-content #deleteTeamPopover title="Delete Team" [closeOnClickOutside]="true">
                <div class="alert alert-danger" role="alert" style="min-width:250px">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Delete Team</span> Permanently delete team {{team?.name}}?
                </div>
                <div class="pull-right form-footer">
                    <button class="btn btn-default horiz-sep" type="button" (click)="deleteTeamPopover.hide()">
                        Cancel
                    </button>
                    <button-popover #deleteTeamButton btn-class="btn btn-primary" type="button" (click)="onDeleteTeam()" aria-label="Confirm Delete Team">
                        Delete Team
                    </button-popover>
                </div>
            </popover-content>

            <div class="pull-right">
                <button *ngIf="!editing" class="btn btn-primary horiz-sep vert-sep pull-right" (click)="onEditTeam()" type="button" aria-label="Edit Team">Edit Team</button>
                <button *ngIf="!editing" class="btn btn-default horiz-sep vert-sep pull-right" type="button" [popover]="deleteTeamPopover" popoverPlacement="bottom" aria-label="Delete Team">Delete Team</button>
                <button-popover #saveChangesButton btn-class="btn btn-primary horiz-sep vert-sep pull-right" *ngIf="editing" type="submit"
                    [disabled]="!teamForm.valid">Save Changes</button-popover>
                <button *ngIf="editing" class="btn btn-default horiz-sep vert-sep pull-right" type="button" (click)="onRevert()" aria-label="Revert">Revert</button>
            </div>
        </div>
    </div>
    <table class="table table-striped">
        <colgroup>
            <col style="width:30px">
            <col>
            <col>
            <col style="width:60px">
        </colgroup>
        <tbody>
            <tr>
                <td></td>
                <td>
                    <div class="form-title" id="teamName"><strong>Name</strong></div>
                </td>
                <td *ngIf="!editing" colspan="2">
                    <div class="form-title-ro" aria-labelledby="teamName">{{ team?.name }}</div>
                </td>
                <td *ngIf="editing" colspan="2">
                    <input type="text" class="form-control" formControlName="name" aria-labelledby="teamName"/>
                </td>
            </tr>
            <tr>
                <td rowspan="2">
                    <div class="form-control-ro">
                        <input type="checkbox" formControlName="homeGamesEnabled" />
                    </div>
                </td>
                <td rowspan="2">
                    <div class="form-title"><strong>Home Games</strong></div>
                </td>
                <td *ngIf="!editing">
                    <div class="form-title-ro pull-right">
                        {{ team?.teamConfigPreLoaded?.homeGamesMin }}
                    </div>
                </td>
                <td *ngIf="editing">
                    <input-popover #homeGamesMinInput type="text" [formGroup]="teamForm" input-class="form-control form-number" inputFormControlName="homeGamesMin"></input-popover>
                </td>
                <td>
                    <div class="form-text-small">(min)</div>
                </td>
            </tr>
            <tr>
                <td *ngIf="!editing">
                    <div class="form-title-ro pull-right">
                        {{ team?.teamConfigPreLoaded?.homeGamesMax }}
                    </div>
                </td>
                <td *ngIf="editing">
                    <input-popover #homeGamesMaxInput type="text" [formGroup]="teamForm" input-class="form-control form-number" inputFormControlName="homeGamesMax"></input-popover>
                </td>
                <td>
                    <div class="form-text-small">(max)</div>
                </td>
            </tr>
            <tr>
                <td rowspan="2">
                    <div class="form-control-ro">
                        <input type="checkbox" formControlName="awayGamesEnabled" />
                    </div>
                </td>
                <td rowspan="2">
                    <div class="form-title"><strong>Away Games</strong></div>
                </td>
                <td *ngIf="!editing">
                    <div class="form-title-ro pull-right">
                        {{ team?.teamConfigPreLoaded?.awayGamesMin }}
                    </div>
                </td>
                <td *ngIf="editing">
                    <input-popover #awayGamesMinInput type="text" [formGroup]="teamForm" input-class="form-control form-number" inputFormControlName="awayGamesMin"></input-popover>
                </td>
                <td>
                    <div class="form-text-small">(min)</div>
                </td>
            </tr>
            <tr>
                <td *ngIf="!editing">
                    <div class="form-title-ro pull-right">
                        {{ team?.teamConfigPreLoaded?.awayGamesMax }}
                    </div>
                </td>
                <td *ngIf="editing">
                    <input-popover #awayGamesMaxInput type="text" [formGroup]="teamForm" input-class="form-control form-number" inputFormControlName="awayGamesMax"></input-popover>
                </td>
                <td>
                    <div class="form-text-small">(max)</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-control-ro">
                        <input type="checkbox" formControlName="consecutiveHomeGamesMaxEnabled" />
                    </div>
                </td>
                <td>
                    <div class="form-title"><strong>Consecutive Home Games</strong></div>
                </td>
                <td *ngIf="teamForm.controls.consecutiveHomeGamesMaxEnabled.value && editing">
                    <input-popover #consecutiveHomeGamesMaxInput *ngIf="editing" type="text" [formGroup]="teamForm" input-class="form-control form-number"
                        inputFormControlName="consecutiveHomeGamesMax"></input-popover>
                </td>
                <td *ngIf="teamForm.controls.consecutiveHomeGamesMaxEnabled.value && !editing">
                    <div class="form-title-ro pull-right">
                        {{ team?.teamConfigPreLoaded?.consecutiveHomeGamesMax }}
                    </div>
                </td>
                <td *ngIf="!teamForm.controls.consecutiveHomeGamesMaxEnabled.value" colspan="2">
                    <div class="form-inherit oversize-header">
                        Using league's configuration
                    </div>
                </td>
                <td *ngIf="teamForm.controls.consecutiveHomeGamesMaxEnabled.value">
                    <div class="form-text-small">(max)</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-control-ro">
                        <input type="checkbox" formControlName="consecutiveAwayGamesMaxEnabled" />
                    </div>
                </td>
                <td>
                    <div class="form-title"><strong>Consecutive Away Games</strong></div>
                </td>
                <td *ngIf="teamForm.controls.consecutiveAwayGamesMaxEnabled.value && editing">
                    <input-popover #consecutiveAwayGamesMaxInput *ngIf="editing" type="text" [formGroup]="teamForm" input-class="form-control form-number"
                        inputFormControlName="consecutiveAwayGamesMax"></input-popover>
                </td>
                <td *ngIf="teamForm.controls.consecutiveAwayGamesMaxEnabled.value && !editing">
                    <div class="form-title-ro pull-right">
                        {{ team?.teamConfigPreLoaded?.consecutiveAwayGamesMax }}
                    </div>
                </td>
                <td *ngIf="!teamForm.controls.consecutiveAwayGamesMaxEnabled.value" colspan="2">
                    <div class="form-inherit oversize-header">
                        Using league's configuration
                    </div>
                </td>
                <td *ngIf="teamForm.controls.consecutiveAwayGamesMaxEnabled.value">
                    <div class="form-text-small">(max)</div>
                </td>
            </tr>
        </tbody>
    </table>
</form>