<div class="row">
    <div class="col-xs-1 button-grid" #addButtonDiv>
        <button #addTeamButton class="btn btn-default vert-sep" type="button" [popover]="createTeamPopover" popoverPlacement="right" (click)="prepareForm()">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
        <popover-content #createTeamPopover [title]="teamButtonText" [closeOnClickOutside]="true">
            <form class="form-s" [formGroup]="teamForm" novalidate (ngSubmit)="createTeam(teamForm.value)">
                <div class="input-group">
                    <input #newTeamText type="text" class="form-control" placeholder="Team Name…" formControlName="name" />
                    <span class="input-group-btn">
                        <button-popover #createTeamButton type="submit" btn-class="btn btn-primary" [disabled]="!teamForm.valid">
                            <span class="glyphicon glyphicon-ok"></span>
                    </button-popover>
                    </span>
                </div>
            </form>
        </popover-content>
    </div>

    <div class="col-xs-11" #teamListDiv>
        <table class="table table-striped table-min-row">
            <colgroup>
                <col>
                <col class="button-col">
            </colgroup>
            <tbody>
                <tr *ngFor="let team of teams" (click)="navigateToTeam(team)">
                    <td>
                        <team-list-item [team]="team"></team-list-item>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
