/**
* Global CSS styles go here
*/
.popover {
    max-width: 500px;
}

/**
* Sidebar
*/
.sidebar {
    margin: 0;
    padding: 0;
    width: 150px;
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
}
.sidebar a {
    width: 100%;
}
.sidebar button {
    width: 100%;
}