/**
* Global CSS styles go here
*/
.popover {
    max-width: 500px;
}
.popover.right-top {
    margin-left: 10px;
}
.popover.right-top > .arrow {
    top: 15px;
    left: -11px;
    margin-top: -11px;
    border-right-color: #999;
    border-right-color: rgba(0, 0, 0, .25);
    border-left-width: 0;
}
.popover.right-top > .arrow:after {
    bottom: -10px;
    left: 1px;
    content: " ";
    border-right-color: #fff;
    border-left-width: 0;
}
input[type="date"] {
    min-width:150px;
}
.form-title {
    padding-top: 7px;
    padding-bottom: 7px;
}
.form-title-ro {
    min-height: 34px;
    padding-bottom: 7px;
    padding-top: 7px;
    padding-left: 13px;
    padding-right: 13px; 
}
.form-control-ro {
    margin-top: 7px;
}
.form-s {
    min-width: 200px;
}
h2 { 
    margin-top: 0px;
}
.heading-row {
    min-height: 44px;
}
.button-spacing {
    margin-bottom: 10px;
    margin-right: 10px;
}

/**
* Sidebar
*/
.sidebar {
    margin: 0;
    padding: 0;
    width: 150px;
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
}
.sidebar a {
    width: 100%;
}
.sidebar button {
    width: 100%;
}
