/**
* Global CSS styles go here
*/
.popover {
    max-width: 500px;
}
.clickable {
    cursor: pointer;
}
.breadcrumb > li + li:before {
    color: #ccc;
    content: "> ";
    padding: 0 5px;
}
.breadcrumb > li {
    font-size: 18px;
}
