/**
* Global CSS styles go here
*/

/* The below commented stylings have been kept here for later configuration
   so we don't have to look them up all over again. */
/*html {
    background-color: #001450;
}
body {
    background-color: #001450;
    color: #fff
}
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #ff120d;
    border: 1px solid #fee000;
    border-left-color: #646a7b;
    border-right-color: #646a7b;
}
.table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n) > th {
    background-color: #dc100b;
    border: 1px solid #fee000;
    border-left-color: #646a7b;
    border-right-color: #646a7b;
}*/

.btn-default {
    color: #fff;
    background-color: #001450;
    border-color: #fee000;
}
.btn-default:hover {
    color: #fff;
    background-color: #002eb1;
    border-color: #fee000;
}
.btn-default.focus, .btn-default:focus {
    color: #fff;
    background-color: #286090;
    border-color: #fee000;
}

.btn-primary {
    color: #fff;
    background-color: #004f78;
    border-color: #fee000;
}
.btn-primary:hover{
    color: #fff;
    background-color: #002eb1;
    border-color: #fff;
}
.btn-primary.focus, .btn-primary:focus {
    color: #fff;
    background-color: #003a50;
    border-color: #fff;
}

.container-fluid>.navbar-header {
    background-color: #001450;
}
.navbar-default {
    background-color: #001450;
    border-color: transparent;
    border-bottom-color: #fee000;
}
.navbar-default .navbar-brand, .navbar-default .navbar-brand:focus {
    color: #fff;
    vertical-align: inherit;
}
.navbar-default .navbar-brand:hover {
    color: #7692e2;
    vertical-align: inherit;
}
.SANFL-logo-container {
    padding-left: 40.5px;
    padding-top: 10px;
    padding-bottom: 10px;
    min-width: 150px;
}


.popover {
    max-width: 500px;
}
.popover.right-top {
    margin-left: 10px;
}
.popover.right-top > .arrow {
    top: 15px;
    left: -11px;
    margin-top: -11px;
    border-right-color: #999;
    border-right-color: rgba(0, 0, 0, .25);
    border-left-width: 0;
}
.popover.right-top > .arrow:after {
    bottom: -10px;
    left: 1px;
    content: " ";
    border-right-color: #fff;
    border-left-width: 0;
}

.popover.left-top {
    margin-right: 10px;
}
.popover.left-top > .arrow {
    top: 15px;
    right: -11px;
    margin-top: -11px;
    border-left-color: #999;
    border-left-color: rgba(0, 0, 0, .25);
    border-right-width: 0;
}
.popover.left-top > .arrow:after {
    bottom: -10px;
    right: 1px;
    content: " ";
    border-left-color: #fff;
    border-right-width: 0;
}
input[type="date"] {
    min-width:150px;
}
.form-title {
    padding-top: 7px;
    padding-bottom: 7px;
}
.form-title-ro {
    min-height: 34px;
    padding-bottom: 7px;
    padding-top: 7px;
    padding-left: 13px;
    padding-right: 13px; 
}
.form-control-ro {
    margin-top: 7px;
}
.form-s {
    min-width: 270px;
}
.inner-stack {
    padding-top: 2px;
    padding-bottom: 2px;
}
.trunc {
    width: 47% !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
table {
    max-width: 100% !important;
    table-layout: fixed;
    word-wrap: break-word;
}
.spacer30 {
    margin-top: 30px;
}
h2 { 
    margin-top: 0px;
}
select {
  /* as the content of team selector is dynamically loaded, this stops the
   * popover dynamically changing size (which looks bad - looks like "jumping"
   */
    min-width: 200px;
    max-width: 200px; 
}
.vert-sep {
    margin-bottom: 10px;
}
.horiz-sep {
    margin-left: 10px;
}
.table-min-row>tbody>tr>td {
    height: 51px;
    vertical-align: middle;
    word-break:break-all;
}
.button-col {
    width: 56px;
}
.button-col {
    width: 56px;
}
.heading-row {
    min-height: 44px;
}
.button-spacing {
    margin-right: 10px;
}
.form-centre {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.form-footer {
    margin-bottom: 10px;
}
[hidden] {
  display: none;
}


/**
* Sidebar
*/
.sidebar {
    margin: 0;
    padding: 0;
    width: 150px;
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
}
.sidebar a {
    width: 100%;
}
.sidebar button {
    width: 100%;
}
